/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #97743a;
}
nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 8rem;
  background: #49412c;
}
nav h1,
footer h1 {
  font-size: 4rem;
  color: #b0a18e;
  margin-left: 3rem;
  font-family: 'Julius Sans One', sans-serif;
}
nav .links,
footer .links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}
nav .links a,
footer .links a {
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
  color: #b0a18e;
  transition: all 0.5s ease-in-out;
}
nav .links a:hover,
footer .links a:hover {
  transform: scale(1.5);
}
@media (max-width: 884px) {
  nav .links a,
  footer .links a {
    font-size: 1.75rem;
  }
}
@media (max-width: 1087px) {
  nav .links,
  footer .links {
    width: 70%;
  }
}
nav .links #active,
footer .links #active {
  color: #49412c;
  background: #b0a18e;
}
nav .outsideLinks,
footer .outsideLinks {
  font-size: 4rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}
@media (max-width: 1087px) {
  nav .outsideLinks,
  footer .outsideLinks {
    width: 30%;
  }
}
@media (max-width: 644px) {
  nav .outsideLinks,
  footer .outsideLinks {
    width: 100%;
    font-size: 4rem;
  }
}
nav .outsideLinks a,
footer .outsideLinks a {
  padding: 1rem;
  color: #b0a18e;
  transition: all 0.5s ease-in-out;
}
nav .outsideLinks a:hover,
footer .outsideLinks a:hover {
  transform: scale(1.5);
}
@media (max-width: 644px) {
  nav,
  footer {
    flex-direction: column;
    height: 12rem;
  }
  nav h1,
  footer h1 {
    padding-top: 2rem;
  }
  nav .links,
  footer .links {
    width: 100%;
    padding-bottom: 5rem;
  }
  nav .links a,
  footer .links a {
    font-size: 2rem;
  }
}
@media (max-width: 644px) {
  footer {
    height: 15rem;
  }
}
body .pageWrapper {
  width: 95%;
  margin: 0 auto;
}
.jumbo {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-image: url(/img/cafeteria1.jpg);
  background-size: cover;
  height: 85vh;
}
.jumbo .text-contain {
  width: 60%;
  padding: 4rem;
  background: #b0a18e;
  margin-left: 3rem;
}
.jumbo .text-contain h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-family: 'Julius Sans One', sans-serif;
}
.jumbo .text-contain h3 {
  font-size: 3rem;
  margin-bottom: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.jumbo .text-contain p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.jumbo .text-contain button {
  padding: 2rem;
  font-size: 2rem;
  margin: 3rem 2rem 0 0;
  border: 2px solid black;
  border-radius: 2rem;
  background: #49412c;
  transition: all 0.5s ease-in-out;
}
.jumbo .text-contain button:hover {
  transform: scale(1.2);
}
.jumbo .text-contain button a {
  text-decoration: none;
  color: #b0a18e;
  font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 884px) {
  .jumbo {
    justify-content: center;
  }
  .jumbo .text-contain {
    width: 90%;
    margin-left: 0;
  }
}
@media (max-width: 644px) {
  .jumbo .text-contain {
    padding: 2rem;
  }
  .jumbo .text-contain h1 {
    font-size: 3rem;
  }
  .jumbo .text-contain h3 {
    font-size: 2rem;
  }
  .jumbo .text-contain p {
    font-size: 1.75rem;
    margin-bottom: 0;
  }
  .jumbo .text-contain button {
    width: 100%;
    margin: 2rem auto;
  }
}
.card-contain {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-contain .card {
  width: 32%;
}
.card-contain .card .card-img {
  width: 100%;
}
.card-contain .card .card-img img {
  display: block;
  width: 100%;
  height: auto;
}
.card-contain .card .card-info {
  background: #b0a18e;
  padding: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.card-contain .card .card-info h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.card-contain .card .card-info p {
  font-size: 2rem;
}
@media (max-width: 644px) {
  .card-contain {
    flex-direction: column;
  }
  .card-contain .card {
    width: 100%;
  }
}
.aboutCardContain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.aboutCardContain .aboutCard {
  margin: 2rem 0;
  width: 32%;
  height: 100%;
  overflow: hidden;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutCardContain .aboutCard .aboutImg {
  width: 100%;
  overflow: hidden;
}
.aboutCardContain .aboutCard .aboutImg img {
  display: block;
  width: 100%;
  height: auto;
}
.aboutCardContain .aboutCard .aboutText {
  background: #b0a18e;
  padding: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  height: 26rem;
}
.aboutCardContain .aboutCard .aboutText h1 {
  font-size: 3rem;
}
.aboutCardContain .aboutCard .aboutText h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
.aboutCardContain .aboutCard .aboutText li {
  font-size: 2rem;
  padding: 0.5rem 0;
}
