nav, footer {
  .layout(space-between, center, row);
  height: 8rem;
  background: #49412c;
  h1 {
    font-size: 4rem;
    color: #b0a18e;
    margin-left: 3rem;
    font-family: 'Julius Sans One', sans-serif;
  }
  .links, .outsideLinks{
    width: 50%;
    .layout(space-around, center);
    margin: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    a {
      text-decoration: none;
      font-size: 2.5rem;
      padding: 1rem;
      color: #b0a18e;
      transition: all .5s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
    #active {
      color: #49412c;
      background: #b0a18e;
    }
  }
}